@{
    ViewBag.Title = "Klub piłkarski";
}

<div class="jumbotron">
    <img src="~/Content/images/herb_200.png" alt="Herb" class="img-responsive" />
    <p class="lead">Witamy na stronie klubu piłkarskiego. Znajdziesz tu informacje o nadchodzących meczach i aktualną tabelę ligową.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Tabela ligowa</h2>
        <p>
            Wyświetl aktualną tabelę ligową.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("LatestLeagueTable", "Mecz")">Wyświetl &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Nadchodzące mecze</h2>
        <p>Wyświetl nadchodzące mecze.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Wyświetl &raquo;</a></p>
    </div>
</div>