@model KlubPilkarski.Models.ApplicationUser

@{
    ViewBag.Title = "Usuń użytkownika";
}

<h2>Usuń użytkownika</h2>

<h3>Czy jesteś pewien że chcesz usunąć ten element?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nazwa użytkownika
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-danger delete-button" />
            @Html.ActionLink("Powrót do listy użytkowników", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
