@model KlubPilkarski.Models.Klub

@{
    ViewBag.Title = "Usuń klub";
}

<h2>Usuń klub</h2>

<h3>Czy jesteś pewien że chcesz usunąć ten element?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-danger delete-button" /> 
            @Html.ActionLink("Powrót do listy klubów", "Index", null, new { @class = "btn btn-primary" })
        </div>

    }
</div>
